In [2]:
#module in python
import sqlite3

In [3]:
# create a funtion to create a table
# if the db dosen't exist it will be created on the current folder 
def create_table(tablename):
    con = sqlite3.connect('mydatabase.db')
    cur = con.cursor()
    cur.execute('CREATE TABLE IF NOT EXISTS {} (col1 TEXT, col2 INTEGER, col3 REAL)'.format(tablename))
    con.commit()
    con.close()

In [10]:
#create a function to insert data into the table
def insert_record(tablename, records):
    '''
    tablename: as a string
    records: 
        -for one record: a tuple with the data in order 
        -for several records: list of tuples, with each tuple one record
    '''
    con = sqlite3.connect('mydatabase.db')
    cur = con.cursor()
    if type(records) == tuple:
        cur.execute("INSERT INTO {} VALUES(?,?,?)".format(str(tablename)),(records))
    else:
        cur.executemany("INSERT INTO {} VALUES(?,?,?)".format(str(tablename)),(records))
        # the second arg of execute has to be a tuple, so if there is a unique value, add a coma at the end 
        # in this case records is a tuple or a list of tuples
    con.commit()
    con.close()

In [14]:
#create a function to delete data from the table
def delete_record(tablename, colname, data):
    con = sqlite3.connect('mydatabase.db')
    cur = con.cursor()
    cur.execute("DELETE FROM {} WHERE {}=?".format(str(tablename), str(colname)),(data,))
    con.commit()
    con.close()

In [15]:
#create a function to update data from the table
def update_record(tablename, colname, update, dcol1):
    con = sqlite3.connect('mydatabase.db')
    cur = con.cursor()
    cur.execute("UPDATE {} SET {}=? WHERE col1=?".format(tablename, colname),(update, dcol1))
    con.commit()
    con.close()

In [7]:
#create function to viex table
def view_table(tablename):
    con = sqlite3.connect('mydatabase.db')
    cur = con.cursor()
    cur.execute('SELECT * FROM {}'.format(tablename))
    info = cur.fetchall()
    con.close()
    return info

In [8]:
create_table('table1')

In [11]:
insert_record('table1',('tree', 1, 15))

In [12]:
insert_record('table1',[('branch', 21, 1577),('bush', 23, 333),('flower', 55, 66)])

In [13]:
view_table('table1')

[('tree', 1, 15.0),
 ('branch', 21, 1577.0),
 ('bush', 23, 333.0),
 ('flower', 55, 66.0)]

In [18]:
delete_record('table1', 'col1', 'flower')

In [19]:
update_record('table1', 'col2', 5, 'tree')

In [20]:
view_table('table1')

[('tree', 5, 15.0), ('branch', 21, 1577.0), ('bush', 23, 333.0)]